<robot name="partnet_0799c797-13b2-464f-815e-90c94b472e48" xmlns:xacro="http://wiki.ros.org/xacro">
	<xacro:property name="scale" value="100" /><link name="base" />
	<link name="link_0">
		<visual name="switch-1">
			<origin xyz="${-0.4529609723383803 / scale} ${-0.04648585143361487 / scale} ${-0.5590540000000006 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-13.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="${-0.4529609723383803 / scale} ${-0.04648585143361487 / scale} ${-0.5590540000000006 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-13.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="continuous">
		<origin xyz="${0.4529609723383803 / scale} ${0.04648585143361487 / scale} ${0.5590540000000006 / scale}" />
		<axis xyz="0 0 1" />
		<child link="link_0" />
		<parent link="link_2" />
	</joint>
	<link name="link_1">
		<visual name="switch-2">
			<origin xyz="${0 / scale} ${-0.042935 / scale} ${-0.36 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-19.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="${0 / scale} ${-0.042935 / scale} ${-0.36 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-19.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="revolute">
		<origin xyz="${0 / scale} ${0.042935 / scale} ${0.36 / scale}" />
		<axis xyz="-1 0 0" />
		<child link="link_1" />
		<parent link="link_2" />
		<limit lower="-0.5235987755982988" upper="0.5235987755982988" effort="10.0" velocity="0.1" />
	</joint>
	<link name="link_2">
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-29.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-21.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-30.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-41.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-28.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-64.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-43.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-52.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-22.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-26.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-4.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-3.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-2.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-44.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-16.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-8.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-9.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-45.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-35.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-49.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-61.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-59.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-5.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-63.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-27.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-51.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-55.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-50.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-6.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-31.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-37.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-48.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-15.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-56.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-62.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-23.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-66.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-58.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-67.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-69.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-11.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-38.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-68.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-34.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-18.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-25.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-17.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-12.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-42.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-24.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-20.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-32.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-47.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-53.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-7.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-1.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-10.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-14.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-40.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-46.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-29.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-21.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-30.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-41.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-28.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-64.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-43.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-52.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-22.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-26.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-4.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-3.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-2.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-44.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-16.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-8.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-9.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-45.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-35.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-49.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-61.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-59.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-5.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-63.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-27.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-51.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-55.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-50.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-6.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-31.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-37.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-48.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-15.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-56.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-62.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-23.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-66.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-58.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-67.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-69.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-11.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-38.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-68.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-34.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-18.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-25.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-17.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-12.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-42.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-24.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-20.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-32.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-47.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-53.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-7.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-1.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-10.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-14.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-40.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
			<geometry>
				<mesh filename="package://switch_description/urdf/100845/textured_objs/original-46.obj" scale="${1 / scale} ${1 / scale} ${1 / scale}" />
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="${0 / scale} ${0 / scale} ${0 / scale}" />
		<child link="link_2" />
		<parent link="base" />
	</joint>
</robot>
